# LODES data

In [14]:
import pandas as pd
pd.set_option('display.max_columns', 500)

In [30]:
# Origin-Destination File
od = pd.read_csv('/Users/nj995/Downloads/mo_od_main_JT00_2015.csv')
od_aux = pd.read_csv('/Users/nj995/Downloads/mo_od_aux_JT00_2015.csv')

# Residence Area Characteristics
rac = pd.read_csv('/Users/nj995/Downloads/mo_rac_S000_JT00_2015.csv')

# Workplace Area Characteristics
wac = pd.read_csv('/Users/nj995/Downloads/mo_wac_S000_JT00_2015.csv')

xwalk = pd.read_csv('/Users/nj995/Downloads/mo_xwalk.csv')

/Users/nj995/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
od.describe(include = 'all').round(2)

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate
count,2.290142e+06,2.290142e+06,2290142.00,2290142.00,2290142.00,2290142.00,2290142.00,2290142.00,2290142.00,2290142.00,2290142.00,2290142.00,2290142.0
mean,2.915309e+14,2.914315e+14,1.09,0.26,0.58,0.24,0.29,0.41,0.38,0.15,0.22,0.71,20170919.0
std,1.217704e+12,1.089170e+12,0.48,0.46,0.59,0.45,0.48,0.55,0.57,0.41,0.44,0.66,0.0
min,2.900195e+14,2.900195e+14,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,20170919.0
25%,2.907700e+14,2.907700e+14,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,20170919.0
50%,2.913196e+14,2.911381e+14,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,20170919.0
75%,2.918922e+14,2.918921e+14,1.00,1.00,1.00,0.00,1.00,1.00,1.00,0.00,0.00,1.00,20170919.0
max,2.951013e+14,2.951013e+14,57.00,21.00,41.00,17.00,24.00,36.00,31.00,29.00,20.00,57.00,20170919.0

In [33]:
od_aux.describe(include='all').round(2)

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate
count,2.212950e+05,2.212950e+05,221295.00,221295.00,221295.00,221295.00,221295.00,221295.00,221295.00,221295.00,221295.00,221295.00,221295.0
mean,2.918032e+14,1.943970e+14,1.03,0.22,0.59,0.23,0.21,0.32,0.51,0.15,0.19,0.69,20170919.0
std,1.480795e+12,6.948615e+13,0.22,0.42,0.52,0.43,0.41,0.47,0.54,0.37,0.40,0.53,0.0
min,2.900195e+14,1.001020e+13,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,20170919.0
25%,2.909501e+14,1.711940e+14,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,20170919.0
50%,2.911907e+14,1.918507e+14,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,20170919.0
75%,2.918922e+14,2.009105e+14,1.00,0.00,1.00,0.00,0.00,1.00,1.00,0.00,0.00,1.00,20170919.0
max,2.951013e+14,5.604595e+14,14.00,5.00,9.00,5.00,7.00,7.00,12.00,5.00,5.00,14.00,20170919.0

In [34]:
print(od['S000'].sum())
print(od_aux['S000'].sum())
print(od['S000'].sum() + od_aux['S000'].sum())

2485939
227887
2713826

In [17]:
rac.describe(include = 'all').round(2)

,h_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,CNS03,CNS04,CNS05,CNS06,CNS07,CNS08,CNS09,CNS10,CNS11,CNS12,CNS13,CNS14,CNS15,CNS16,CNS17,CNS18,CNS19,CNS20,CR01,CR02,CR03,CR04,CR05,CR07,CT01,CT02,CD01,CD02,CD03,CD04,CS01,CS02,createdate
count,1.634130e+05,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.00,163413.0
mean,2.912832e+14,16.43,3.97,8.84,3.62,4.36,6.18,5.89,0.08,0.03,0.12,0.77,1.48,0.76,1.87,0.61,0.28,0.70,0.22,0.87,0.43,0.99,1.48,2.69,0.32,1.53,0.48,0.71,14.05,1.88,0.07,0.25,0.01,0.17,15.94,0.49,1.37,4.03,4.08,2.98,8.06,8.37,20170919.0
std,9.937389e+11,32.07,8.09,17.59,7.26,8.33,11.28,14.07,0.34,0.18,0.42,1.83,2.90,1.87,3.81,1.44,0.86,1.85,0.68,2.40,1.32,2.35,3.17,5.37,0.94,3.38,1.21,1.87,28.09,7.67,0.37,1.28,0.14,0.62,31.19,1.57,2.76,7.66,8.16,6.88,16.01,16.37,0.0
min,2.900195e+14,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,20170919.0
25%,2.906308e+14,3.00,0.00,1.00,0.00,1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.00,0.00,0.00,0.00,0.00,0.00,3.00,0.00,0.00,1.00,1.00,0.00,1.00,1.00,20170919.0
50%,2.910596e+14,7.00,2.00,4.00,2.00,2.00,3.00,2.00,0.00,0.00,0.00,0.00,1.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,1.00,0.00,0.00,6.00,0.00,0.00,0.00,0.00,0.00,7.00,0.00,1.00,2.00,2.00,1.00,3.00,4.00,20170919.0
75%,2.918331e+14,18.00,4.00,10.00,4.00,5.00,7.00,6.00,0.00,0.00,0.00,1.00,2.00,1.00,2.00,1.00,0.00,1.00,0.00,1.00,0.00,1.00,2.00,3.00,0.00,2.00,1.00,1.00,15.00,1.00,0.00,0.00,0.00,0.00,17.00,0.00,2.00,5.00,5.00,3.00,9.00,9.00,20170919.0
max,2.951013e+14,1016.00,232.00,610.00,196.00,266.00,357.00,493.00,24.00,8.00,19.00,74.00,88.00,65.00,123.00,43.00,29.00,58.00,19.00,81.00,37.00,72.00,96.00,186.00,68.00,169.00,31.00,190.00,966.00,399.00,12.00,102.00,6.00,19.00,991.00,51.00,81.00,260.00,250.00,217.00,525.00,491.00,20170919.0

In [27]:
print(rac['C000'].sum())

2685392

In [18]:
wac.describe(include = 'all').round(2)

,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,CNS03,CNS04,CNS05,CNS06,CNS07,CNS08,CNS09,CNS10,CNS11,CNS12,CNS13,CNS14,CNS15,CNS16,CNS17,CNS18,CNS19,CNS20,CR01,CR02,CR03,CR04,CR05,CR07,CT01,CT02,CD01,CD02,CD03,CD04,CS01,CS02,CFA01,CFA02,CFA03,CFA04,CFA05,CFS01,CFS02,CFS03,CFS04,CFS05,createdate
count,5.311200e+04,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.0,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.00,53112.0,53112.0,53112.0,53112.0,53112.0,53112.0,53112.0,53112.0,53112.0,53112.0,53112.0
mean,2.914318e+14,51.10,12.26,27.54,11.29,13.47,19.06,18.57,0.24,0.08,0.37,2.38,4.50,2.36,5.75,1.82,0.9,2.18,0.70,2.79,1.35,3.03,4.61,8.50,1.00,4.79,1.52,2.24,43.74,5.75,0.23,0.80,0.04,0.54,49.60,1.50,4.23,12.54,12.71,9.35,24.95,26.15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20170919.0
std,1.178445e+12,213.17,47.02,123.58,49.94,45.90,77.09,116.70,4.01,3.67,11.42,15.50,53.42,22.59,35.25,30.59,26.6,37.63,9.44,35.05,38.91,34.59,65.92,114.14,21.82,26.42,9.93,46.38,174.97,38.01,1.30,7.94,0.39,2.77,206.73,9.39,16.11,49.36,56.50,55.48,103.04,123.62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,2.900195e+14,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20170919.0
25%,2.907180e+14,3.00,0.00,1.00,0.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.00,0.00,0.00,0.00,0.00,0.00,3.00,0.00,0.00,1.00,1.00,0.00,1.00,1.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20170919.0
50%,2.910709e+14,8.00,2.00,4.00,2.00,3.00,3.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,7.00,0.00,0.00,0.00,0.00,0.00,8.00,0.00,1.00,2.00,2.00,1.00,4.00,3.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20170919.0
75%,2.918921e+14,31.00,7.00,16.00,7.00,9.00,12.00,7.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,28.00,2.00,0.00,0.00,0.00,0.00,31.00,1.00,3.00,8.00,7.00,4.00,15.00,14.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20170919.0
max,2.951013e+14,13591.00,2530.00,8105.00,3306.00,3186.00,4766.00,7023.00,328.00,744.00,1881.00,925.00,6882.00,2408.00,1418.00,3275.00,4856.0,4387.00,1542.00,3806.00,5439.00,2652.00,9847.00,11400.00,2936.00,1562.00,618.00,5634.00,10577.00,2754.00,102.00,1040.00,46.00,176.00,13169.00,700.00,1125.00,3190.00,3757.00,3913.00,7937.00,7802.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20170919.0

In [29]:
print(wac['C000'].sum())

2713826

In [37]:
xwalk.describe(include = 'all').round(2)

,tabblk2010,st,stusps,stname,cty,ctyname,trct,trctname,bgrp,bgrpname,cbsa,cbsaname,zcta,zctaname,stplc,stplcname,ctycsub,ctycsubname,stcd115,stcd115name,stsldl,stsldlname,stsldu,stslduname,stschool,stschoolname,stsecon,stseconname,trib,tribname,tsub,tsubname,stanrc,stanrcname,necta,nectaname,mil,milname,stwib,stwibname,blklatdd,blklondd,createdate
count,3.435650e+05,343565.0,343565,343565,343565.00,343565,3.435650e+05,343565,3.435650e+05,343565,343565,224076,343565.00,343565.00,343565.00,152046,3.435650e+05,343565,343565.00,343565,343565.00,343565,343565.00,343565,343565.00,343565,343565.0,0.0,343565.0,0.0,343565.0,0.0,343565.0,0.0,343565.0,0.0,343565,1471,343565.00,343565,343565.00,343565.00,343565.0
unique,NaN,NaN,1,1,NaN,115,NaN,1393,NaN,4506,29,28,NaN,NaN,NaN,1033,NaN,1395,NaN,8,NaN,163,NaN,34,NaN,515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,9,NaN,14,NaN,NaN,NaN
top,NaN,NaN,MO,Missouri,NaN,"St. Louis County, MO",NaN,"9502 (Audrain, MO)",NaN,"2 (Tract 4701, Chariton, MO)",99999,"St. Louis, MO-IL",NaN,NaN,NaN,"Kansas City city, MO",NaN,"St. Louis city (St. Louis city, MO)",NaN,MO-08,NaN,"State House District 4, MO",NaN,"State Senate District 18, MO",NaN,"St. Louis City School District, MO",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999999999999999999999,Ft Leonard Wood,NaN,5/9 Central Region WIB,NaN,NaN,NaN
freq,NaN,NaN,343565,343565,NaN,18737,NaN,1401,NaN,755,119489,55773,NaN,NaN,NaN,12001,NaN,9587,NaN,70208,NaN,7213,NaN,26264,NaN,9587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,342094,1077,NaN,49276,NaN,NaN,NaN
mean,2.912533e+14,29.0,NaN,NaN,29124.86,NaN,2.912534e+10,NaN,2.912534e+11,NaN,NaN,NaN,64446.44,64446.44,6877189.43,NaN,2.912528e+09,NaN,2905.34,NaN,29085.49,NaN,29019.67,NaN,2919318.03,NaN,9999999.0,NaN,99999.0,NaN,9999999.0,NaN,9999999.0,NaN,99999.0,NaN,NaN,NaN,29290008.22,NaN,38.34,-92.43,20170919.0
std,9.209843e+11,0.0,NaN,NaN,92.17,NaN,9.212148e+07,NaN,9.212148e+08,NaN,NaN,NaN,935.77,935.77,3504841.60,NaN,9.220191e+06,NaN,2.07,NaN,53.92,NaN,9.50,NaN,8789.62,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,5.13,NaN,1.09,1.60,0.0
min,2.900195e+14,29.0,NaN,NaN,29001.00,NaN,2.900195e+10,NaN,2.900195e+11,NaN,NaN,NaN,51640.00,51640.00,2900244.00,NaN,2.900105e+09,NaN,2901.00,NaN,29001.00,NaN,29001.00,NaN,2900001.00,NaN,9999999.0,NaN,99999.0,NaN,9999999.0,NaN,9999999.0,NaN,99999.0,NaN,NaN,NaN,29290001.00,NaN,36.00,-95.77,20170919.0
25%,2.906147e+14,29.0,NaN,NaN,29061.00,NaN,2.906147e+10,NaN,2.906147e+11,NaN,NaN,NaN,63638.00,63638.00,2949034.00,NaN,2.906136e+09,NaN,2904.00,NaN,29040.00,NaN,29012.00,NaN,2912030.00,NaN,9999999.0,NaN,99999.0,NaN,9999999.0,NaN,9999999.0,NaN,99999.0,NaN,NaN,NaN,29290003.00,NaN,37.34,-93.81,20170919.0
50%,2.910947e+14,29.0,NaN,NaN,29109.00,NaN,2.910947e+10,NaN,2.910947e+11,NaN,NaN,NaN,64485.00,64485.00,9999999.00,NaN,2.910903e+09,NaN,2906.00,NaN,29088.00,NaN,29020.00,NaN,2920640.00,NaN,9999999.0,NaN,99999.0,NaN,9999999.0,NaN,9999999.0,NaN,99999.0,NaN,NaN,NaN,29290008.00,NaN,38.53,-92.59,20170919.0
75%,2.918331e+14,29.0,NaN,NaN,29183.00,NaN,2.918331e+10,NaN,2.918331e+11,NaN,NaN,NaN,65301.00,65301.00,9999999.00,NaN,2.918340e+09,NaN,2907.00,NaN,29138.00,NaN,29028.00,NaN,2927540.00,NaN,9999999.0,NaN,99999.0,NaN,9999999.0,NaN,9999999.0,NaN,99999.0,NaN,NaN,NaN,29290013.00,NaN,39.08,-90.85,20170919.0
max,2.951013e+14,29.0,NaN,NaN,29510.00,NaN,2.951013e+10,NaN,2.951013e+11,NaN,NaN,NaN,72644.00,72644.00,9999999.00,NaN,2.951065e+09,NaN,2908.00,NaN,29163.00,NaN,29034.00,NaN,2932490.00,NaN,9999999.0,NaN,99999.0,NaN,9999999.0,NaN,9999999.0,NaN,99999.0,NaN,NaN,NaN,29290016.00,NaN,40.61,-89.12,20170919.0

In [36]:
xwalk['cbsa'] = xwalk['cbsa'].apply(str)

In [38]:
pd.crosstab(index = xwalk['cbsa'], columns = 'count')

col_0   count
cbsa
14700    8193
16020    5221
17860    5438
22100    3293
22220    2023
22780    3631
22800    1885
25300    3748
27620    8379
27900    9621
28140   40647
28380    3817
28860    2896
30060    2839
32180    3091
32340    2843
33020    3153
33620    2524
38740    4552
39500    1392
40620    3662
41140    8946
41180   55773
42740    4274
43460    3137
44180   22117
47660    3966
48460    3015
99999  119489